# compiler build
build/

# flutter gitignore pubspec.lock
.dart_tool/
.packages
pubspec.lock # library relate lock files

# Flutter Dart/Pub git ignore
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# flutter vscode gitignore
.classpath
.project
.settings/
.vscode/

# Flutter Android gitignore
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew.bat
**/android/gradlew
**/android/local.properties
**/android/key.properties
*.jks

# Flutter gitignore IOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig